body {
    font-family: Arial, sans-serif;
    background-color: #98beff;
    color: #fff;
    text-align: center;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #3455b4;
    border-radius: 10px;
}

h1 {
    color: #fff;
}

form label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #669ff8;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #fff;
    padding: 10px;
}

th {
    background-color: #669ff8;
}